extends layout

block title
  title= 'Edit Post'

block content
  - if (post)
    a(href='/' + post.id) View post
  form(method='post')
    .control-group
      label(for='postId') ID
      .controls
        input#postId(name='post[id]', placeholder='Id', value=post?post.id:'')
        p 葉面短鏈接
    .control-group
      label(for='postTitle') Title
      .controls
        input#postTitle(name='post[title]', placeholder='Title', value=post?post.title:'')
    .control-group
      label(for='postContents') Contents
      .controls
        textarea#postContents(name='post[contents]', placeholder='Contents')=post?post.contents:''
    .control-group
      label(for='postTags') Tags
      .controls
        input#postTags(name='post[tags]', placeholder='Tags', value=post?post.tags:'')
        p 用逗號隔開
    .control-group
      label(for='postContentsFormat') Format
      .controls
        select#postContentsFormat(name='post[contentsFormat]')
          - if (post && post.contentsFormat === 'markdown')
            option(value='markdown', selected) Markdown
          - else
            option(value='markdown') Markdown
          - if (post && post.contentsFormat === 'html')
            option(value='html', selected) HTML
          - else
            option(value='html') HTML
    .control-group
      label(for='postPrivate') Private
      .controls
        - if (post && post.private)
          input#postPrivate(type='checkbox', name='post[private]', value=1, checked)
        - else
          input#postPrivate(type='checkbox', name='post[private]', value=1)
    .control-group
      label(for='postList') Show in list
      .controls
        - if (post && post.list)
          input#postList(type='checkbox', name='post[list]', value=1, checked)
        - else
          input#postList(type='checkbox', name='post[list]', value=1)
    .control-group
      .controls
        input(type='submit', value='Save').button_link.sea_blue

block scripts
  script
