extends layout

block title
  title= 'Edit Post'

block content
  - if (post)
    a(href='/' + post.id) View post
  form(method='post')
    .control-group
      label(for='postId') ID
      .controls
        input#postId(name='post[id]', placeholder='Id', value=post?post.id:'')
        p Permalink of this post
    .control-group
      label(for='postLanguage1') Language1
      .controls
        input#postLanguage1(name='post[contents][0][language]', placeholder='Language', value=post&&post.contents[0]?post.contents[0].language:'')
    .control-group
      label(for='postTitle1') Title1
      .controls
        input#postTitle1(name='post[contents][0][title]', placeholder='Title', value=post&&post.contents[0]?post.contents[0].title:'')
    .control-group
      label(for='postContents') Contents1
      .controls
        textarea#postContents(name='post[contents][0][contents]', placeholder='Contents')=post&&post.contents[0]?post.contents[0].contents:''

    .control-group
      label(for='postLanguage2') Language2
      .controls
        input#postLanguage2(name='post[contents][1][language]', placeholder='Language', value=post&&post.contents[1]?post.contents[1].language:'')
    .control-group
      label(for='postTitle2') Title2
      .controls
        input#postTitle2(name='post[contents][1][title]', placeholder='Title', value=post&&post.contents[1]?post.contents[1].title:'')
    .control-group
      label(for='postContents') Contents2
      .controls
        textarea#postContents(name='post[contents][1][contents]', placeholder='Contents')=post&&post.contents[1]?post.contents[1].contents:''

    .control-group
      label(for='postLanguage3') Language3
      .controls
        input#postLanguage3(name='post[contents][2][language]', placeholder='Language', value=post&&post.contents[2]?post.contents[2].language:'')
    .control-group
      label(for='postTitle3') Title3
      .controls
        input#postTitle3(name='post[contents][2][title]', placeholder='Title', value=post&&post.contents[2]?post.contents[2].title:'')
    .control-group
      label(for='postContents') Contents3
      .controls
        textarea#postContents(name='post[contents][2][contents]', placeholder='Contents')=post&&post.contents[2]?post.contents[2].contents:''
        
    .control-group
      label(for='postTags') Tags
      .controls
        input#postTags(name='post[tags]', placeholder='Tags', value=post?post.tags:'')
        p Separate with comma
    .control-group
      label(for='postClicks') Clicks
      .controls
        input#postClicks(name='post[clicks]', placeholder='Clicks', value=post?post.clicks:'0')
        p Number of views
    .control-group
      label(for='postContentsFormat') Format
      .controls
        select#postContentsFormat(name='post[contentsFormat]')
          - if (post && post.contentsFormat === 'markdown')
            option(value='markdown', selected) Markdown
          - else
            option(value='markdown') Markdown
          - if (post && post.contentsFormat === 'html')
            option(value='html', selected) HTML
          - else
            option(value='html') HTML
    .control-group
      label(for='postPrivate') Private
      .controls
        - if (post && post.private)
          input#postPrivate(type='checkbox', name='post[private]', value=1, checked)
        - else
          input#postPrivate(type='checkbox', name='post[private]', value=1)
    .control-group
      label(for='postList') Show in list
      .controls
        - if (post && post.list)
          input#postList(type='checkbox', name='post[list]', value=1, checked)
        - else
          input#postList(type='checkbox', name='post[list]', value=1)
    .control-group
      .controls
        input(type='submit', value='Save').button

block scripts
  script
