extends layout

block title
  title= '後臺管理'

block content
  table.table
    tr
      th= label('Address')
      th= label('Title')
      th= label('Time')
      th= label('Private')
      th= label('List')
      th= label('Reads')
      th= label('Tags')
    each post in posts
      tr
        td
          a(href='/admin/edit/' + post.guid)= post.id
        td
          a(href='/' + post.id)= post.contents[0].title
        td= dateFormat(post.postTime, 'yyyy-mm-dd HH:MM:ss')
        td= post.private
        td= post.list
        td= post.clicks
        td= post.tags
