extends layout

block title
  title= '後臺管理'

block content
  table.table
    tr
      th= '地址'
      th= '標題'
      th= '時間'
      th= '私人'
      th= '列表'
      th= '閱讀'
      th= '標籤'
    each post in posts
      tr
        td
          a(href='/admin/edit/' + post.id)= post.id
        td
          a(href='/' + post.id)= post.contents[0].title
        td= dateFormat(post.postTime, 'yyyy-mm-dd HH:MM:ss')
        td= post.private
        td= post.list
        td= post.clicks
        td= post.tags
