mixin header()
  header#header.clearfix(role="banner")
    hgroup#logo-wrapper
      h1
        a#logo(href=langLink('/'), id='index_link')
          img(src="/images/logo.png", title=config.site.title)
    #navigation-wrapper.clearfix
      nav#main-navigation.main-menu
        ul#menu-top-menu.sf-menu
          each link in config.navigator
            li.menu-item(class=(postId === link.link)?"current":"")
              - if (!link.submenu)
                a(href=langLink(link.link))= label(link.name)
              - else
                a(href=langLink(link.link))= label(link.name)
                  span.downarrowclass
                  span.downarrowclass
                ul.sub-menu
                  each sublink in link.submenu
                    li.menu-item
                      a(href=langLink(sublink.link))= sublink.name

mixin preheader()
  #pre-header
    #social-icons
      ul#social-links
        li.facebook-link
          a#social-01.facebook(href=config.social.facebook, target="_blank", original-title="Find me on Facebook")
        li.twitter-link
          a#social-02.twitter(href=config.social.twitter, target="_blank", original-title="Find me on Twitter")
        li.google-link
          a#social-03.google(href=config.social.gplus, target="_blank", original-title="Find me on Google +")
        li.linkedin-link
          a#social-04.linkedin(href=config.social.linkedin, target="_blank", original-title="My resume on LinkedIn")
        li.github-link
          a#social-05.github(href=config.social.github, target="_blank", original-title="My projects on Github")
        li.renren-link
          a#social-06.renren(href=config.social.renren, target="_blank", original-title="人人網")
        li.weibo-link
          a#social-07.weibo(href=config.social.weibo, target="_blank", original-title="新浪微博")
        li.douban-link
          a#social-08.douban(href=config.social.douban, target="_blank", original-title="豆瓣")
        li.rss-link
          a#social-09.rss(href="/feed", target="_blank", original-title="RSS feed")
