mixin post(post)
  article.post.hentry.clearfix(data-post-id=post.id)
    - if (post.list)
      .entry-meta
        time.post-date(datetime=post.postTime.toISOString())
          span.post-month #{dateFormat(post.postTime, 'mmmm')}
          strong.post-day #{post.postTime.getDate()}
          span.post-year #{post.postTime.getFullYear()}
        ul
          li
            span.title Posted By:
              author #{post.author}
          li
            span.title Reads: #{post.clicks}
          li
            span.title Tags: #{post.tags}
    .entry-body
      header
        h1
          - if (language)
            a.post_header_link(href='/' + language + '/' + post.id, data-post-id=post.id)= post.title
          - else
            a.post_header_link(href='/' + post.id, data-post-id=post.id)= post.title
      !{post.contents}
