mixin post(post)
  article.post(data-post-id=post.id)
    header
      h1
        a(href='/' + post.id, class='post_header_link')= post.title
    author #{post.author}
    time #{post.postTime}
    .content= post.contents
