mixin post(post)
  article.post.hentry.clearfix(data-post-id=post.id)
    - if (post.list)
      aside.entry-meta
        time.post-date(datetime=post.postTime.toISOString())
          span.post-month #{monthText(post.postTime)}
          strong.post-day #{post.postTime.getDate()}
          span.post-year #{post.postTime.getFullYear()}
        ul
          li
            span.title #{label('Author')}:
              author #{post.author}
          li
            span.title #{label('Reads')}: #{post.clicks}
          li
            ul
              each tag in post.tags
                li
                  a(href='/blog/tag/' + tag) #{tag}
    section.entry-body(class=post.list?"entry-body-content":"")
      header
        h1
          a.post_header_link(href=langLink('/' + post.id), data-post-id=post.id)= post.title
      !{post.contents}
