mixin sidebar()
  aside
    .sidebarBox.widget_search
      form#searchform(role='search', method='get', action='https://www.google.com/cse', target='_blank')
        label.screen-reader-text(for='s') Search for:
        input#s(type='text', value='', name='q', placeholder='Search this site...')
        input(type='hidden', name='cx', value='partner-pub-7100557222552278:h6n6am-u2fu')
        input(type='hidden', name='ie', value='UTF-8')
        input(name='siteurl', type='hidden', value='www.byvoid.com')
        input#searchsubmit(type='submit', value='Search')
    .sidebarBox
      h4= label('Language')
      ul
        li
          a(href=postId) 原文
        li
          a(href='/zht' + postId) 正體中文
        li
          a(href='/zhs' + postId) 簡體中文
        li
          a(href='/en' + postId) English
    .sidebarBox
      h4= label('Categories')
      ul
        li
          a(href='/blog/tag/語言學') 語言學
        li
          a(href='/blog/tag/計算機科學') 計算機科學
    .sidebarBox
      h4= label('Most popular')
      ul
        each post in popularPosts
          li
            a(href=langLink('/' + post.id))= postTitle(post)
            = ' - '
            = post.clicks
    .sidebarBox
      h4= label('Archives')
      ul
        each archive in archives
          li
            a(href=langLink('/blog/archive/' + archive.month.getFullYear() + '/' + (archive.month.getMonth() + 1))) #{dateFormat(archive.month, 'mmmm yyyy')}
            = ' (' + archive.count + ')'
