extends layout
include includes/post

block title
  title= post.title + ' - BYVoid'
  - if (!language)
    != css(post.language)

block content
  mixin post(post)
  - if (session.user)
    a(href='/admin/edit/' + post.guid)= label('Edit post')
  #disqus_thread

block scripts
  script(type='text/javascript')
    var disqus_shortname = '#{config.disqus.shortname}';
    var disqus_identifier = '#{post.guid}';
    var disqus_url = location.protocol + '//' + location.host + '/' + '#{post.id}';
    var disqus_developer = #{config.disqus.developer};
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
